<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis" ToolsVersion="10.0">
    <IncludeAll Action="Error" />
    <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
        <!-- Do not pass literals as localized parameters -->
        <Rule Id="CA1303" Action="None" />
        <!-- Prefer jagged arrays over multidimensional -->
        <Rule Id="CA1814" Action="None" />
        <!-- Properties should not return arrays -->
        <Rule Id="CA1819" Action="None" />
    </Rules>
</RuleSet>
